<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h2>
<div class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  <ul>
    <li> 👋 Hi, I’m @CalvinRoth </li>
    <li >I'm a current masters student at U of MN and am to be a PhD student starting fall 2022. </li>
    <li> 👀 I’m interested in linear algebra, optimization problems, and quantum cs. </li>
    <li> In addition I use number theory, combinatorics, and graph theory to support these main interests </li>
    <li> Previously, I have TAed for 1) Linear Agebra and Differentiable Equations and 2) Formal Languages and Automata Theory </li>
  </ul>

  <h3>
    What Languages Do I Use
  </h3>
  <iframe width="600" height="600" src="https://www.calvinroth.tech/github-profile-languages/api.html?@CalvinRoth" frameborder="0"></iframe>

  <p>
    The script used to create the above image of the languages I used is a fork of <a href="https://github.com/IonicaBizau/github-profile-languages"> this repo</a> from a Romanian developer Ionică Bizău.
  </p>
 </div>
</h2>
